body{
    background-color: mediumaquamarine;
    margin: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 45px;
}

.meio{
    align-items: center;
    height: 50%;
}

.opçoes{
    display: flex;
    justify-content: center;
    width: 100%;
}

.quer{
    display: flex;
    justify-content: center;
}

button{
    width: 100px;
    height: 60px;
    font-size: 20px;
}

.michael{
    width: 350px;
}